amqp==5.2.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==24.2.0
babel==2.16.0
beautifulsoup4==4.12.3
billiard==4.2.1
bleach==6.1.0
celery==5.4.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
crispy-bootstrap4==2024.1
cryptography==42.0.5
Cython==3.0.11
defusedxml==0.8.0rc2
Django==5.0.6
django-crispy-forms==2.1
django-debug-toolbar==4.4.6
django-markdownify==0.9.3
django-redis==5.4.0
emoji==2.14.0
Faker==24.3.0
h11==0.14.0
honcho==2.0.0
i18n==0.2
idna==3.7
iniconfig==2.0.0
kombu==5.4.2
Markdown==3.5.2
markdownify==0.12.1
oauthlib==3.2.2
outcome==1.3.0.post0
packaging==24.1
pillow==10.3.0
pluggy==1.5.0
prompt_toolkit==3.0.47
py==1.11.0
pycparser==2.22
pygame==2.6.1
PyJWT==2.8.0
pyobjc-core==10.3.1
pyobjc-framework-Cocoa==10.3.1
PySocks==1.7.1
pytest==8.3.3
pytest-django==4.9.0
python-dateutil==2.9.0.post0
python3-openid==3.2.0
pytz==2024.1
rabbitmq-server==0.0.1
redis==5.0.8
redis-server==6.0.9
requests==2.31.0
requests-oauthlib==2.0.0
screeninfo==0.8.1
selenium==4.25.0
six==1.16.0
sniffio==1.3.1
social-auth-app-django==5.4.1
social-auth-core==4.5.4
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.4.4
tinycss2==1.2.1
trio==0.27.0
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
vine==5.1.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
wsproto==1.2.0


# For production
gunicorn
psycopg2-binary